/* CSS AMADOU SEYE */

#seyeBody{
    background-color: rgb(218, 218, 218);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    height: 5px;
    background-color: black;
}
#fond{
    width: 90%;
    margin: auto;
    background-color: white;
}
#tete{
    display: flex;
    background-color: greenyellow;
    animation: animeProfil 5s ease infinite;
}
@keyframes animeProfil {
    0%{translate:0; background-color: white;}
    50%{translate:100; background-color: greenyellow;}
    100%{translate: 0; background-color: white;}
}
#profil{
    max-width: 30%;
    margin: auto;
    animation: animationPhoto 5s ease infinite;
}
#profilDescription{
    margin-left: 100px;
    padding-left: 25px;
    width: 60%;
}
#seyePhoto img{
    width: 200px;
    height: auto;
    border-radius: 50%;
    animation: zoomPhoto 2s infinite ease-in-out;
    margin-left: 100px;
}
@keyframes zoomPhoto {
    0%, 100% {transform: scale(0.8);}
    50% {transform: scale(1.1);}
    }
.icones{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    animation: iconeRotation 3s ease infinite;
}
@keyframes iconeRotation {
    
    0%, 100%{transform: rotate(0deg);}
    33%{transform: rotate(60deg);}
    67%{transform: rotate(-60deg);}
}
.titre{
    text-align: left;
    border: 2px solid black;
    box-shadow: 5px 5px;
    text-align: center;
    margin:0 100px 0 100px;
    background-color: greenyellow;
}
.titre:hover{
    color: green;
    background-color: white;
}
#pied p{
    background-color: greenyellow;
    text-align: right;
}
